body {
  text-align: center;
  background-color:bisque;
}

.btn {
  height: 20vh;
  width: 10vw;
  border: 5px solid black;
  margin: 2rem;
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}

.flash {
    background-color: white;;
}
.userflash {
    background-color: rgba(130, 102, 102, 0.451);
}